// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.15em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1F8ED6;
$dark-blue: #05588E;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$black: #000;
$white: #fff;
$gallery: #eee;
$chucknorris: #C00000;
$caribbean-green: #03C9A9;
$cape-honey: #FDE3A7;
$alice-blue: #E4F1FE;
$turquoise: #36D7B7;
$dark-turquoise: #00493D;
$california: #F89406;









// Font Colors
$base-font-color: $black;
$action-color: $dark-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $gallery;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
