#center {
    display: table;
    margin: auto;
}

#graph {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   }

.node circle {
  fill: #000;
}

.node rect {
  stroke: black;
    stroke-width: 1;
  fill: #fff;
 }

.node {
 cursor: pointer;
}

.node text { font-family: 'Graduate', serif;
  color: $black;
  font-size: 20px; }


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4px;
}
.hyper {
  font-family: 'Graduate', serif;
    color: $black;
    font-size: 20px;
    font-weight: bold;
}
.hyper:hover {
  font-family: 'Graduate', serif;
    color: $black;
    /*text-decoration: underline;*/
    font-size: 26px;
    font-weight: bolder;
}

.node {
 cursor: pointer;
}
