.control-group-inlineForm {

}
form {
    text-align: left;
    width: 300px;
    margin: auto;
}

p {
    width: 300px;
    margin:  0 auto;
    font-size: 1.2em;

label {
  display: table-cell;
  text-align: right;
}

}
h2 {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold
}


body {
background: blue;
}

@media (max-width: 600px) {
body {
background: green;
}}

@media (max-width: 300px) {
body {
background: red;
}}
