form {
    text-align: center;
    width: 600px;
    margin: auto;
    padding-top: 10em;
}
p {
    width: 300px;
    margin:  0 auto;
    font-size: 1.2em;

}
h2 {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold
}




#result {
    margin: 10px;
    background: #eee;
    padding: 10px;
    height: 40px;
    overflow: auto;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}