g {
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

svg {
  overflow: auto;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 65%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: auto;
}


#center {
    display: table;
    margin: auto;
}

#graph {
    width: 100%;
    float: right;
    overflow: auto;
   }

.node circle {
  fill: #000;
}

.node rect {
  stroke: black;
    stroke-width: 1;
  fill: #D0D0D0;
  cursor: pointer;
 }

.node image {
  cursor: pointer;
}

.node text { font-family: 'Graduate', serif;
  color: $black;
  font-size: 16px;
  cursor: pointer;

}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4px;
}

.hyper {
  font-family: 'Graduate', serif;
    color: $black;
    font-size: 20px;
    font-weight: bold;
}
.hyper:hover {
  font-family: 'Graduate', serif;
    color: $black;
    /*text-decoration: underline;*/
    font-size: 26px;
    font-weight: bolder;
}
