#center {
    display: table;
    margin: auto;
}

#graph {
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;

}


.node circle {
  fill: #000;
}

.node text { font: 20px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 4px;
}
