
#win_center {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-color: $dark-gray;
  font-size: 1.3em;
}

.modal_buttons {
  text-align: center;
}

.b_button_div {
  float: left;
  text-align: center;
  width: 45%;
  // position: relative;
  button{
    width: 100%;
  }
}

.a_button_div {
  float: right;
  text-align: center;
  width: 45%;
  // position: relative;
  button{
    background-color: #244672;
    width: 100%;
    &:hover{
      background-color: shade($action-color, 20%),
    }
  }
}


.email-form {
  padding: 0;
}
  h3 {
    font-family: 'Lato', sans-serif;

  }

  .remove_winner {
    background-color: #AE2C2C;
  }

.ui-widget-overlay {
  opacity: .70 !important;
 filter: Alpha(Opacity=70) !important;
 background: rgb(50, 50, 50) !important;
}

.ui-dialog-content
{
    border-color:#eee !important;
    background-color: #eee !important;
}

.a_button_div button:hover {
  background-color: #207D46;
}

.b_button_div button:hover {
  background-color: #207D46;
}

#email_submit_b {
  background-color: #244672;

}

// .matchup_cont{
//     button{
//       width: 100px;
//     }
//     .remove_winner {
//       width: 80%;
//     }
// }
