
#win_center {
  text-align: center;
  font-color: $dark-gray;
  font-size: 2em;
}


.ui-widget-overlay {
  opacity: .70 !important;
 filter: Alpha(Opacity=70) !important;
 background: rgb(50, 50, 50) !important;
}
